@font-face {
    font-family: 'Geometria';
    src: url('../assets/fonts/Geometria.woff2') format('woff2'),
         url('../assets/fonts/Geometria.woff') format('woff');
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Geometria';
    src: url('../assets/fonts/Geometria-Bold.woff2') format('woff2'),
         url('../assets/fonts/Geometria-Bold.woff') format('woff');
    font-weight: 700; 
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Geometria';
    src: url('../assets/fonts/Geometria-ExtraBold.woff2') format('woff2'),
         url('../assets/fonts/Geometria-ExtraBold.woff') format('woff');
    font-weight: 800; 
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Geometria';
    src: url('../assets/fonts/Geometria-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Light.otf') format('opentype');
    font-weight: 300;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-display: swap;
  }
  
  * {
    --font-geometria: 'Geometria', -apple-system, BlinkMacSystemFont, sans-serif;
    --font-gilroy: 'Gilroy', -apple-system, BlinkMacSystemFont, sans-serif;
  }